:root{
    --page-color:#2B2B2B;
    --primary:#EEBD35;
    --secondary-grey:#C9C9C9;
    --secondary-white:#2B2B2B;
    --hover-color:#F3D172;
    --card-color: #63625D;
    --border-color:#C9C9C9;
    --music-color:#1A1A1A;
    --title-first:1.5rem;
    --title-second:1.3rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:var(--page-color);
    color: #C9C9C9;
}


.book{
    min-width: 90vw;
    width: 91.5vw;
    height: 84vh;
    margin: auto;
    margin-top: 57px;
    border-radius:8px ;
    border: 1px solid var(--border-color) ;
}


.music{
    width:88px;
    height: 32px;
    background-color: var(--music-color);
    border-radius: 4px 4px 0px 0px;
    position: fixed;
    bottom: 0px;
    left: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -1px 1px #4d4d4d;
}

.music-icon{
    width: 13px;
}